<br>
<br>
<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Home
        </div>
    </div>
    <div class="panel body">
        <div class="text-center">
        <img class="rounded" src="../../../assets/logo.jpg" atl="hello" height="300px" width="300px"/>
    </div>
        <br>
        <div class="text-center">
            <p>Created By:Shashank</p>
            <p>shetyeshashank04@gmail.com</p>
        </div>
    </div>
</div>
</div>